.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E7E9EB;
}

.headercenter div{
    display: flex;
    width: 130px;
    height: 56px;
    align-items: center;
    justify-content: center;
}

.headercenter div:hover{
    background-color:#F2F2F2;
}

.home{
    display: none;
    position: absolute;
    top: 50px;
    background-color: #39393A;
    padding: 10px 13px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    justify-content: center;
}

.headercenter div:hover + p.home{
      display: block;
}
  
.Watch{
    display: none;
    position: absolute;
    top: 50px;
    background-color: #39393A;
    padding: 10px 13px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    justify-content: center;
}

.headercenter div:hover + p.Watch{
    display: block;
}

.group{
    display: none;
    position: absolute;
    top: 50px;
    background-color: #39393A;
    padding: 10px 13px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    justify-content: center;
}

.headercenter div:hover + p.group{
    display: block;
}

.gaming{
    display: none;
    position: absolute;
    top: 50px;
    background-color: #39393A;
    padding: 10px 13px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    justify-content: center;
}

.headercenter div:hover + p.gaming{
    display: block;
}

#headerleft {
    display: flex;
    align-items: center;    
}

#headerleft img{
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

#headerleft input{
    width: 240px;
    height: 40px;
    background-color: #F0F2F5;
    border: 0;
    outline: 0;
    border-radius: 50px;
    background-image: url(./IMG/검색.png);
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 37px;
}

.headercenter {
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.headercenter svg{
    width: 28px;
    height: 28px;
    color: #65676b;
}

#profile{
    width : 28px;
    height: 28px;
}

.men{
    width: 40px;
    height: 40px;
}
span{
    padding-right: 12px;
}

#headerright{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width : 260px;
    padding-right: 16px;
    padding-left: 4px;
}

#frofile {
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

#left {
    width: 360px;
    margin-bottom: 7px;
    float: left;
}

#line div{
    display: flex;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 344px;
    height: 52px;
}

#line div img{
    margin-right: 12px;
    width: 36px;
    height: 36px;
}

#line div span{
    width: 280px;
    height: 19px;
}

section{
    background-color: #F0F2F5;
    width: 100%;
    left: 0%;
    position: absolute;
}

#line div:hover {
    background-color: #E4E6E9;
}

#line{
    border-bottom: 0.2px solid #ccccd6;
}

#margin{
    margin-bottom: 5px;
}

#cut{
    width: 290px;
    height: 21px;
    padding: 13px 15px 30px;
    font-size: 17px;
    font-weight: bold;
    color: #476092;
}

#story{
    margin: 0;
    display: flex;
    margin: 0px -4px;
    padding: 8px 0px 24px;
}

#plus{
    width: 107px;
    height: 120px;
    border-start-start-radius: 8%;
    border-start-end-radius: 8%;
    
}

#story div{
    width: 108px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#pp{
    background: #1876f2;
    color: white;
    padding-right: 0;
    width: 32px;
    height: 32px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 53%;
    right: 50%;
    transform: translateX(50%);
}

#sto{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    border-end-start-radius: 10%;
    border-end-end-radius: 10%;
}

#all{
    margin: auto;
    width: 630px;
}

#think img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#think{
    width: 680px;
    height: 110px;
    background-color: #FFFFFF;
    display: flex;
    padding: 12px 16px 10px;
    position: relative;
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    border-end-start-radius: 12px;
    border-end-end-radius: 12px;
}

#thin{
    width: 648px;
    height: 48px;
    display: flex;
    align-items: center;
}

#thin span{
    padding: 8px 12px;
    margin-left: 10px;
    width: 576px;
    height: 22.4px;
    background-color: #F0F2F5;
    color: #65676B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#other{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 8px;
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    border-top: 1px solid #ccccd6;
}

#other img{
    width: 24px;
    height: 24px;
}

#other span{
    width: 85px;
    height: 19px;
    font-size: 15px;
}

#liv{
    width: 130px;
    height: 30px;
    padding: 8px;
}

#imzz{
    width: 130px;
    height: 30px;
    padding: 8px;
}

#smi{
    width: 110px;
    height: 30px;
    padding: 8px;
}